<!DOCTYPE html>
<html>
    
  <head>
    <TITLE>Home Page</TITLE>
  </head>
    
  <body>
    <%= erb :header %>
    <h1>Welcome to Pied Piper!</h1>
        
    <p><a href="<%= @hyperlink %>"><%= @message %></a></p>
    <p><%= @profile_pic %></p>
      
    <p>Here lies some content</p>  
  </body>
    
</html>
